@{
  ViewBag.Title = "Your Visits";
}

@section scripts {
  <script src="~/lib/angular/angular.js"></script>
  <script src="~/lib/angular-route/angular-route.js"></script>

  <script src="~/js/mycountries-common.js"></script>
  <script src="~/js/myapp.js"></script>
  <script src="~/js/myapp-controllers.js"></script>
}

<div ng-app="myApp">
  <div ng-view></div>
</div>