<div class="row">
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <div class="jumbotron br-purple">
      <h2>@ViewBag.Title</h2>
      <h3>@ViewBag.Message</h3>
      <p class="lead">
        This site is an experiment. This project has been build to learn how ASP.NET 5 will change the way
        building web projects on the Microsoft stack will work. In addition, this site does provide some real
        functionality. With it, you can add and share a set of country visits and share them with your friends.
      </p>
      <p>
        The expectation is that this site will be updated as ASP.NET 5 moves towards official release. Not all
        the features of the site are available or complete yet, but you should be able to join, add, and share your
        country visits right now.
        The code for this site is open source and is available on <a href="https://github.com/shawnwildermuth/MyCountries">GitHub</a>. Feel free
        to add comments, issues, or pull requests there.
      </p>
      <hr />
      <p>To get started, register with the website and start adding your visits: <a class="btn btn-success btn-lg" href='@Url.Action("Register", "Account")'>Get Started</a></p>
    </div>
  </div>
</div>