@model MyCountries.Web.Data.Visit
<h1>New Visit</h1>

<form id="newVisitForm" novalidate onsubmit="newVisit.save()">
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" name="city" id="city" class="form-control" />
    <span class="text-danger">*</span>
  </div>

  <div class="form-group">
    <label for="country">Country:</label>
    @Html.DropDownList("country", (IEnumerable<SelectListItem>)ViewBag.Countries, new { @class = "form-control" }) 
    <span class="text-danger">*</span>
  </div>
  <div class="form-group">
    <label for="visitDate">Visit Date:</label>
    <input type="text" name="visitDate" id="visitDate" class="form-control" />
    <span class="text-danger">*</span>
  </div>
  <div class="form-group">
    <input type="checkbox" id="forWork" name="forWork">
    <label for="forWork">For Business?</label>
  </div>
  <div class="form-group">
    <input type="checkbox" id="forFun" name="forFun">
    <label for="forFun">For Pleasure?</label>
  </div>
  <div class="form-group">
    <input type="checkbox" id="firstTrip" name="firstTrip">
    <label for="firstTrip">For Pleasure?</label>
  </div>
  <div class="form-group">
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" class="form-control" rows="4" />
    <span class="text-danger">*</span>
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-success" />
    <a href="#/" class="btn btn-warning">Cancel</a>
  </div>
</form>

