@model MyCountries.Web.Models.ContactModel
@{
  ViewBag.Title = "Contact";
}

@section Scripts {
  <script src="~/lib/jquery-validation/jquery.validate.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<!-- Main-bar Column -->
<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

  <h2>@ViewBag.Title.</h2>
  <h3>@ViewBag.Message</h3>
  <div class="well well-lg br-white">

    <div class="page-mainbar contactus">
      <!-- Contact Us Form -->
      <div class="contact-form">
        <form role="form" method="post">
          @if (ViewBag.Result != null)
          {
          <div class="text-primary">@ViewBag.Result</div>
          }
          <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
          <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <textarea asp-for="Comments" class="form-control" cols="40" rows="4" placeholder="Comments"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
          </div>
          <div class="form-group">
            <!-- form Submit and reset button -->
            <input type="submit" class="btn btn-info" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
